
$gray-600: rgb(245,245,245);

@import '~bootstrap/scss/bootstrap';

body {
    background-image: linear-gradient(grey, yellow, grey);
}

p {
    margin: 0 !important
}

.user-div:hover {
    background-color: rgb(250, 250,250)
}